.mathtools {
	position: relative;

	&.active {
		.mathtools__box {
			opacity: 1;
			visibility: visible;
		}

		.mathtools__result {
			opacity: 1;
			visibility: visible;
		}
	}

	&__box {
		display: flex;
		position: absolute;
		bottom: -5.5rem;
		left: 0;
		width: 100%;
		border: 3px solid var(--dark);
		z-index: 2;
		border-radius: 10px;
		overflow: auto;
		opacity: 0;
		visibility: hidden;
		transition: all 0.3s;
		//height: 100%;

		button {
			color: var(--dark);
			padding: 1rem;
			font-size: 2.5rem;
			font-weight: 500;
			background: var(--light);
			border: none;
			transition: all 0.3s;
			flex: 1 0 3.5rem;

			&:hover {
				background: var(--accent);
			}

			&:not(:last-child) {
				border-right: 3px solid var(--dark);
			}
		}
	}

	&__result {
		position: absolute;
		z-index: 3;
		background: var(--light);
		border: 2px solid var(--accent);
		top: -3rem;
		right: 0;
		max-width: 5rem;
		min-width: 8rem;
		//height: 16px;
		line-height: 1;
		padding: 0.5rem;
		border-bottom: 1px solid var(--dark);
		color: var(--dark);
		visibility: hidden;
		font-size: 1.4rem;
		opacity: 0;
	}
}
